*{
    padding: 0;
    margin: 0;
}
section{
    background-color: aqua;
}
.container{
    width: 800px;
    border: solid 2px;
    margin: 0;
}
.box{
    display: inline-block;
    width: 30%;
    border: solid 2px;
    margin: 10px;
    background-color: blue;
    
}